/*sérigraphie*/
.row > .column {
  padding: 0 8px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.rond-tech{
  width: 13rem;
  align-content: center;
}

.rond{
  border-radius: 50%;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lineLeft{
  border-bottom: 2px solid #53d5f4;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8vw;
  text-align: left;
}
.lineRight{
  border-bottom: 2px solid #53d5f4;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 7vw;
  text-align: right;
}
/*end sérigraphie*/
/*broderie*/
.spaceBroderie{
  margin-top: 5.2rem;
}
/*end broderie*/



/*media queries*/

 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.preview{
  flex-wrap: wrap !important;
  padding-left: 20vw;
  padding-right: 20vw;
}
}

@media (max-width: 400px) {
  
}

 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

}

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
 .allImages{
  display: block;
  margin: 0 auto;
  padding: 0 auto;
 }
 
}

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
.preview{
  flex-wrap: nowrap;
}
.text{
  display: flex !important;
  justify-content: center;
 }
 .spaceBroderie{
  margin-top: 0;
}
}